HttpConnecting.getResponsePropertyValue is case-sensitive

<!--- STOP! Before you open an issue please search this repository's issues to see if it has already been reported. This helps reduce duplicate issues from being created. -->
<!--- SECURITY DISCLOSURE: If this is a security disclosure please follow the guidelines in CONTRIBUTING.md. This helps keep folks from accidentally releasing vulnerabilities before the maintainers get a chance to fix the issue. -->

### Expected Behaviour
Response headers should be treated as case-insensitive keys as per [RFC 2616 section 4.2](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2), however HttpConnection#getResponsePropertyValue treats them as case-sensitive. 

Add tests for headers with mixed-cases.

### Actual Behaviour

### Reproduce Scenario (including but not limited to)

#### Steps to Reproduce
Use Android Studio Network Inspector, set up a Rule and add response headers, then read those in the SDK using exact match or mixed matches.

#### Platform and Version
Android, Core 3.0.0

#### Sample Code that illustrates the problem

#### Logs taken while reproducing problem


URLConnection's getHeaderField method is already case-insensitive.